*.iml
.gradle
.idea
/.idea/.name
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/caches/build_file_checksums.ser
.DS_Store
.externalNativeBuild
/build
/captures
/local.properties
/projectFilesBackup