<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facebook.fresco.helper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name=".photoview.PictureBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/picture_browse_activity_style"/>

    </application>

</manifest>